<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
  <title>Tutor Tracker</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/images/fav.ico">
</head>
<body>
  <div id="wrapper">
    <nav>
      {{#if loggedIn}}
      <a href="/dashboard">
        <svg viewBox="0 0 42.8 42.7" height="30" fill="#EBEBEB">
          <g>
            <path d="M21.4,35.7c-4.4,0-8.4-1.9-11.1-5l-4.4,2.5c3.7,4.5,9.3,7.4,15.5,7.4s11.9-2.9,15.5-7.4l-4.4-2.5
            C29.8,33.8,25.8,35.7,21.4,35.7z"/>
            <path d="M23.1,0.8v5c7.5,0.8,13.3,7.2,13.3,14.9c0,2.6-0.7,5.1-1.9,7.3l4.3,2.5c1.6-2.9,2.6-6.2,2.6-9.8
            C41.4,10.2,33.3,1.6,23.1,0.8z"/>
            <path d="M6.4,20.7c0-7.7,5.8-14.1,13.3-14.9v-5C9.5,1.6,1.4,10.2,1.4,20.7c0,3.6,0.9,6.9,2.6,9.8L8.3,28
            C7.1,25.8,6.4,23.4,6.4,20.7z"/>
            <rect x="21.4" y="15.7" width="3.3" height="11.7"/>
            <rect x="26.4" y="12.4" width="3.3" height="15"/>
            <rect x="16.4" y="19" width="3.3" height="8.3"/>
            <rect x="11.4" y="22.4" width="3.3" height="5"/>
          </g>
        </svg>
        <span>Dashboard</span></a>
        <a href="/profile">
          <svg viewBox="0 0 51.3 50.4" height="30" fill="#EBEBEB">
            <path d="M15.5,25.2"/>
            <path d="M45.7,41.9c-0.1-1.1-0.3-4-0.8-5.3c-0.6-1.7-1.3-2.4-2.3-3.1c-0.5-0.3-2.1-0.9-4.7-1.9c-2.3-0.9-4.9-1.8-5.8-2.4
            c-0.8-0.5-1.5-2.7-1.5-3.4c0,0,0.1-0.2,0.6-0.7c1-1.1,2.3-3.2,2.8-5.2c0.7-2.7,1.3-8.3-1.2-11.7c-1.4-1.9-3.7-3-6.7-3.1l-0.2,0
            l-0.1,0c-3,0.1-5.2,1.1-6.7,3.1c-2.5,3.4-2,9-1.2,11.7c0.5,2,1.8,4.1,2.8,5.2c0,0,0,0,0,0c0,0,0,0,0,0c0.1,0.2,0.5,0.5,0.6,0.7
            c0.3,0.7-0.7,2.9-1.5,3.3c-0.9,0.5-3.5,1.5-5.9,2.4c-2.5,0.9-4.2,1.6-4.6,1.9c-0.9,0.6-1.7,1.4-2.3,3.1c-0.5,1.3-0.7,4.1-0.8,5.3
            l0,0.3l0.2,0.2c0.7,0.6,4.1,2.8,19.5,2.8c15.3,0,18.8-2.1,19.5-2.8l0.2-0.2L45.7,41.9z"/>
          </svg>
          <span>Profile</span>
        </a>
        <a href="/timesheet">
          <svg viewBox="0 0 43 43" height="30" fill="#EBEBEB">
            <path id="path6" d="M39.2,15.1H19c-1.3,0-2.4-1.1-2.4-2.4v-2.4c0-1.3-1.1-2.4-2.4-2.4H4c-1.3,0-2.4,1.1-2.4,2.4v27.2
            c0,1.3,1.1,2.4,2.4,2.4h35.2c1.3,0,2.4-1.1,2.4-2.4v-20C41.6,16.2,40.5,15.1,39.2,15.1z M21.6,37c-5.1,0-9.3-4.2-9.3-9.3
            c0-5.1,4.2-9.3,9.3-9.3s9.3,4.2,9.3,9.3C30.9,32.8,26.8,37,21.6,37z"/>
            <path id="path8" d="M27.5,24.1l0.6-0.4c-0.6-1-1.5-1.9-2.5-2.5l-0.4,0.6l-0.4-0.2l0.4-0.6c-1-0.6-2.2-0.9-3.4-0.9l0,0.7h-0.2
            l1.1,2.3H22v4.6c0,0,0,0,0,0.1c0,0.1,0,0.1-0.1,0.1c0,0-0.1,0.1-0.1,0.1c0,0,0,0,0,0l-2.6,1.5l0.4,0.7L17,30.3l1.4-2.2l0.4,0.7
            l2.4-1.4v-4.4h-0.8l1.1-2.3h-0.2v-0.7c-1.2,0-2.4,0.4-3.4,0.9l0.4,0.6L18,21.8l-0.4-0.6c-1,0.6-1.9,1.5-2.5,2.5l0.6,0.4l-0.2,0.4
            l-0.6-0.4c-0.6,1-0.9,2.2-0.9,3.4h0.7v0.4H14c0,1.2,0.4,2.4,0.9,3.4l0.6-0.4l0.2,0.4l-0.6,0.4c0.6,1,1.5,1.9,2.5,2.5l0.4-0.6
            l0.4,0.2L18,34.4c1,0.6,2.2,0.9,3.4,0.9v-0.7h0.4v0.7c1.2,0,2.4-0.4,3.4-0.9l-0.4-0.6l0.4-0.2l0.4,0.6c1-0.6,1.9-1.5,2.5-2.5
            l-0.6-0.4l0.2-0.4l0.6,0.4c0.6-1,0.9-2.2,0.9-3.4h-0.7v-0.4h0.7c0-1.2-0.4-2.4-0.9-3.4l-0.6,0.4L27.5,24.1z"/>
            <polygon id="polygon10" points="41.4,8.4 24.4,3.6 19.6,13.7 39.8,13.7     "/>

          </svg>
          <span>Time Sheet</span>
        </a>
        <a href="/users">
          <svg viewBox="0 0 71.4 50.4" height="30" fill="#EBEBEB">
            <path d="M25.2,25.2"/>
            <path d="M31.5,27.1h0.4c-0.1-0.1-0.2-0.2-0.3-0.3c-2.9-2.6-5.2-7.8-5.2-11.9c0-5.9,4.8-9.7,9.3-9.7c4.5,0,9.1,4.2,9.1,10
            c0,4.1-2.5,9.1-5.5,11.7c0.6,2.4,4.1,3.2,11.1,5.1c7.9,2.2,7,9.5,6.5,11.1c-0.9,2.5-41.7,3-42.5,0c-0.2-1.3-2-8.9,5.9-11.1
            C27.3,30.1,30.7,29.3,31.5,27.1z"/>
            <path d="M31.9,27.1h-0.4c0-0.1,0.1-0.2,0.1-0.3C31.7,26.9,31.8,27,31.9,27.1z"/>
            <path d="M20.2,31.1l1.3-0.4c2.5-0.7,4.5-1.2,6-1.8c-1.2-0.5-1.8-1.1-2-1.9c1-0.8,1.9-2,2.6-3.4c-1.5-2.7-2.5-6-2.5-8.8
            c0-1,0.2-2.1,0.5-3.1c-1-0.6-2.1-1-3.3-1c-3.4,0-7,2.9-7,7.3c0,3.1,1.7,6.9,3.9,8.9c0.1,0.1,0.1,0.1,0.2,0.2h-0.3
            c-0.6,1.7-3.1,2.3-8.3,3.7c-5.9,1.6-4.5,7.4-4.4,8.3c0.2,0.6,2.8,1.1,6.5,1.3C13.2,34.4,16.8,32,20.2,31.1z"/>
            <path d="M51.2,31.1l-1.3-0.4c-2.5-0.7-4.5-1.2-6-1.8c1.2-0.5,1.8-1.1,2-1.9c-1-0.8-1.9-2-2.6-3.4c1.5-2.7,2.5-6,2.5-8.8
            c0-1-0.2-2.1-0.5-3.1c1-0.6,2.1-1,3.3-1c3.4,0,7,2.9,7,7.3c0,3.1-1.7,6.9-3.9,8.9c-0.1,0.1-0.1,0.1-0.2,0.2h0.3
            c0.6,1.7,3.1,2.3,8.3,3.7c5.9,1.6,4.5,7.4,4.4,8.3c-0.2,0.6-2.8,1.1-6.5,1.3C58.2,34.4,54.5,32,51.2,31.1z"/>
          </svg>
          <span>Users</span>
        </a>
        <a href="/officehours">
          <svg viewBox="0 0 43 43" height="30" fill="#EBEBEB">
            <path d="M21.1,1.6c-11,0-20,9-20,20c0,11,9,20,20,20c11,0,20-9,20-20C41.1,10.6,32.2,1.6,21.1,1.6z M28.4,28.9
            c-0.3,0.3-0.7,0.5-1.1,0.5c-0.4,0-0.8-0.1-1.1-0.5L20,22.7c-0.3-0.3-0.5-0.7-0.5-1.1V10.9c0-0.8,0.7-1.5,1.5-1.5s1.5,0.7,1.5,1.5
            V21l5.7,5.7C29,27.3,29,28.3,28.4,28.9z"/>

          </svg>
          <span>Office Hours</span>
        </a>
        <div id="mobileMenu">Menu</div>
        {{else}}
        <a href="/">Tutor Tracker</a>
        {{/if}}
      </nav>
      <!-- MOBILE NAV CONTAINER -->
      <div id="mobileNav">
        <a href="/officehours">
          <svg viewBox="0 0 43 43" height="30" fill="#EBEBEB">
            <path d="M21.1,1.6c-11,0-20,9-20,20c0,11,9,20,20,20c11,0,20-9,20-20C41.1,10.6,32.2,1.6,21.1,1.6z M28.4,28.9
            c-0.3,0.3-0.7,0.5-1.1,0.5c-0.4,0-0.8-0.1-1.1-0.5L20,22.7c-0.3-0.3-0.5-0.7-0.5-1.1V10.9c0-0.8,0.7-1.5,1.5-1.5s1.5,0.7,1.5,1.5
            V21l5.7,5.7C29,27.3,29,28.3,28.4,28.9z"/>

          </svg>
          <span>Office Hours</span>
        </a>
        <a href="/users">
          <svg viewBox="0 0 71.4 50.4" height="30" fill="#EBEBEB">
            <path d="M25.2,25.2"/>
            <path d="M31.5,27.1h0.4c-0.1-0.1-0.2-0.2-0.3-0.3c-2.9-2.6-5.2-7.8-5.2-11.9c0-5.9,4.8-9.7,9.3-9.7c4.5,0,9.1,4.2,9.1,10
            c0,4.1-2.5,9.1-5.5,11.7c0.6,2.4,4.1,3.2,11.1,5.1c7.9,2.2,7,9.5,6.5,11.1c-0.9,2.5-41.7,3-42.5,0c-0.2-1.3-2-8.9,5.9-11.1
            C27.3,30.1,30.7,29.3,31.5,27.1z"/>
            <path d="M31.9,27.1h-0.4c0-0.1,0.1-0.2,0.1-0.3C31.7,26.9,31.8,27,31.9,27.1z"/>
            <path d="M20.2,31.1l1.3-0.4c2.5-0.7,4.5-1.2,6-1.8c-1.2-0.5-1.8-1.1-2-1.9c1-0.8,1.9-2,2.6-3.4c-1.5-2.7-2.5-6-2.5-8.8
            c0-1,0.2-2.1,0.5-3.1c-1-0.6-2.1-1-3.3-1c-3.4,0-7,2.9-7,7.3c0,3.1,1.7,6.9,3.9,8.9c0.1,0.1,0.1,0.1,0.2,0.2h-0.3
            c-0.6,1.7-3.1,2.3-8.3,3.7c-5.9,1.6-4.5,7.4-4.4,8.3c0.2,0.6,2.8,1.1,6.5,1.3C13.2,34.4,16.8,32,20.2,31.1z"/>
            <path d="M51.2,31.1l-1.3-0.4c-2.5-0.7-4.5-1.2-6-1.8c1.2-0.5,1.8-1.1,2-1.9c-1-0.8-1.9-2-2.6-3.4c1.5-2.7,2.5-6,2.5-8.8
            c0-1-0.2-2.1-0.5-3.1c1-0.6,2.1-1,3.3-1c3.4,0,7,2.9,7,7.3c0,3.1-1.7,6.9-3.9,8.9c-0.1,0.1-0.1,0.1-0.2,0.2h0.3
            c0.6,1.7,3.1,2.3,8.3,3.7c5.9,1.6,4.5,7.4,4.4,8.3c-0.2,0.6-2.8,1.1-6.5,1.3C58.2,34.4,54.5,32,51.2,31.1z"/>
          </svg>
          <span>Users</span>
        </a>
        <a href="/timesheet">
          <svg viewBox="0 0 43 43" height="30" fill="#EBEBEB">
            <path id="path6" d="M39.2,15.1H19c-1.3,0-2.4-1.1-2.4-2.4v-2.4c0-1.3-1.1-2.4-2.4-2.4H4c-1.3,0-2.4,1.1-2.4,2.4v27.2
            c0,1.3,1.1,2.4,2.4,2.4h35.2c1.3,0,2.4-1.1,2.4-2.4v-20C41.6,16.2,40.5,15.1,39.2,15.1z M21.6,37c-5.1,0-9.3-4.2-9.3-9.3
            c0-5.1,4.2-9.3,9.3-9.3s9.3,4.2,9.3,9.3C30.9,32.8,26.8,37,21.6,37z"/>
            <path id="path8" d="M27.5,24.1l0.6-0.4c-0.6-1-1.5-1.9-2.5-2.5l-0.4,0.6l-0.4-0.2l0.4-0.6c-1-0.6-2.2-0.9-3.4-0.9l0,0.7h-0.2
            l1.1,2.3H22v4.6c0,0,0,0,0,0.1c0,0.1,0,0.1-0.1,0.1c0,0-0.1,0.1-0.1,0.1c0,0,0,0,0,0l-2.6,1.5l0.4,0.7L17,30.3l1.4-2.2l0.4,0.7
            l2.4-1.4v-4.4h-0.8l1.1-2.3h-0.2v-0.7c-1.2,0-2.4,0.4-3.4,0.9l0.4,0.6L18,21.8l-0.4-0.6c-1,0.6-1.9,1.5-2.5,2.5l0.6,0.4l-0.2,0.4
            l-0.6-0.4c-0.6,1-0.9,2.2-0.9,3.4h0.7v0.4H14c0,1.2,0.4,2.4,0.9,3.4l0.6-0.4l0.2,0.4l-0.6,0.4c0.6,1,1.5,1.9,2.5,2.5l0.4-0.6
            l0.4,0.2L18,34.4c1,0.6,2.2,0.9,3.4,0.9v-0.7h0.4v0.7c1.2,0,2.4-0.4,3.4-0.9l-0.4-0.6l0.4-0.2l0.4,0.6c1-0.6,1.9-1.5,2.5-2.5
            l-0.6-0.4l0.2-0.4l0.6,0.4c0.6-1,0.9-2.2,0.9-3.4h-0.7v-0.4h0.7c0-1.2-0.4-2.4-0.9-3.4l-0.6,0.4L27.5,24.1z"/>
            <polygon id="polygon10" points="41.4,8.4 24.4,3.6 19.6,13.7 39.8,13.7     "/>

          </svg>

        <span>Time Sheet</span>
      </a>

      <a href="/profile">
        <svg viewBox="0 0 51.3 50.4" height="30" fill="#EBEBEB">
          <path d="M15.5,25.2"/>
          <path d="M45.7,41.9c-0.1-1.1-0.3-4-0.8-5.3c-0.6-1.7-1.3-2.4-2.3-3.1c-0.5-0.3-2.1-0.9-4.7-1.9c-2.3-0.9-4.9-1.8-5.8-2.4
          c-0.8-0.5-1.5-2.7-1.5-3.4c0,0,0.1-0.2,0.6-0.7c1-1.1,2.3-3.2,2.8-5.2c0.7-2.7,1.3-8.3-1.2-11.7c-1.4-1.9-3.7-3-6.7-3.1l-0.2,0
          l-0.1,0c-3,0.1-5.2,1.1-6.7,3.1c-2.5,3.4-2,9-1.2,11.7c0.5,2,1.8,4.1,2.8,5.2c0,0,0,0,0,0c0,0,0,0,0,0c0.1,0.2,0.5,0.5,0.6,0.7
          c0.3,0.7-0.7,2.9-1.5,3.3c-0.9,0.5-3.5,1.5-5.9,2.4c-2.5,0.9-4.2,1.6-4.6,1.9c-0.9,0.6-1.7,1.4-2.3,3.1c-0.5,1.3-0.7,4.1-0.8,5.3
          l0,0.3l0.2,0.2c0.7,0.6,4.1,2.8,19.5,2.8c15.3,0,18.8-2.1,19.5-2.8l0.2-0.2L45.7,41.9z"/>
        </svg>
        <span>Profile</span>
      </a>
    </div>

    <div id="belowNav">
      {{{ body }}}
    </div>


  </div>
  <footer>
    &copy; Copyright 2016 Full Sail University - <a href="/helpSupport">Help &amp; Support</a> - V 0.2.8</footer>
    <script src="/js/tutorApp.js"></script>
  </body>
  </html>
