<div>
  <p>Please enter the email you use with Tutor Tracker and you will receive an email with instructions on how to reset your password.</p>
  <form action="/forgotpassword/handler" method="post">
    <p>
      <input type="email" name="forgotEmail" placeholder="Email">
    </p>
    <p>
      <button type="submit">Reset Password</button>
    </p>
  </form>
</div>
