<p>If you are here is most likely that your session ended or you just need to sign in for the first time, please sign in.</p>
<form action="/verify" method="post">
	<p>
		<input type="email" placeholder="Email" name="email" required="required" autofocus>
	</p>
	<p>
		<input type="password" placeholder="Password" name="password" required="required">
	</p>
	<p>
		<a href="/forgotpassword">Forgot Password?</a>
	</p>
	<button type"submit">Log In</button>
</form>
