<div>
    <h1>Request Shift</h1>
    <form action="" method="post">
      <p>
        <label for="shiftDate">Date</label>
        <input type="date" id="shiftDate" name="date">
      </p>
      <p>
        <label for="shiftStartTime">Start Time</label>
        <input type="time" name="startTime">
      </p>
      <p>
        <label for="shiftEndTime">End Time</label>
        <input type="time" name="endTime">
      </p>
      <p>
        <label for="shiftNotes">Notes</label>
        <textarea name="shiftNotes" rows="8" cols="40" placeholder="optional notes"></textarea>
      </p>
      <button type="submit" class="blue_button">Submit</button>
    </form>
</div>
