<div>
    <h1>Request Shift</h1>
    <form action="/requesthandler" method="post">
      <p>
        <label for="shiftDate">Date</label>
        <input type="date" name="shiftDate" id="shiftDate">
      </p>
      <p>
        <label for="shift">Shift</label>
        <select name="shift" id="shift">
          <option value="false">Select a Shift</option>
          <option value="10AM-1PM">10AM-1PM</option>
          <option value="1PM-4PM">1PM-4PM</option>
          <option value="both">Both</option>
        </select>
      </p>
      <input type="hidden" name="userId" value="{{userData.userId}}">
      <input type="hidden" name="tutorName" value="{{userData.firstName}} {{userData.lastName}}">
      <button type="submit" class="aquarius">Submit</button>
    </form>
</div>
