/* normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 Correct `block` display not defined in IE 8/9.
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
address[hidden],
template {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong,
.strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn,
em,
.em {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/*
 * proper formatting (http://blog.fontdeck.com/post/9037028497/hyphens)
*/
p {
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }

/*
 * Addresses margins set differently in IE6/7.
 */
pre {
  margin: 0; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
q:before,
q:after {
  content: '';
  content: none; }

small, .small {
  font-size: 75%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
  Lists
========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0; }

/*
 * Addresses paddings set differently in IE6/7.
 */
menu {
  padding: 0 0 0 40px; }

ol,
ul {
  padding: 0;
  list-style-type: none; }

/*
 * Corrects list images handled incorrectly in IE7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* ==========================================================================
  Embedded content
========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.image-replacement,
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

.clearfix, .cf {
  zoom: 1; }
  .clearfix:before, .clearfix:after, .cf:before, .cf:after {
    content: "";
    display: table; }
  .clearfix:after, .cf:after {
    clear: both; }

/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic; }

/*
Stylesheet: Typography
*/
/*********************
FONT FACE (IN YOUR FACE)
*********************/
/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
p {
  -ms-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig"; }

/*
Stylesheet: Base Mobile Stylesheet
*/
/*
GENERAL STYLES
*/
body {
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  line-height: 1.5;
  background-color: #EBEBEB; }

#wrapper {
  max-width: 1038px;
  margin: 0 auto;
  clear: both; }

h1, h2, h3, h4, h5 {
  color: #666;
  font-weight: initial; }

/*
NAVIGATION STYLES
**/
nav {
  line-height: 58px;
  height: 58px;
  clear: both;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #314756; }
  nav a[href='/users'] {
    width: 9%; }
  nav a {
    margin-left: 3%;
    float: right;
    width: 11%;
    margin: 0;
    vertical-align: middle;
    display: inline-block;
    text-decoration: none;
    color: #EBEBEB; }
    nav a svg {
      margin: 13px 6px 0 19px;
      float: left;
      height: 30px; }
    nav a span {
      display: block; }
    nav a:link, nav a:visited {
      color: #EBEBEB; }
    nav a:hover {
      border-bottom: solid #FF6500 1px;
      cursor: pointer;
      color: #FF6500; }
      nav a:hover svg {
        fill: #FF6500; }
  nav a:first-child {
    float: left;
    width: 258px;
    text-align: center;
    margin: 0;
    /*&:hover svg path,&:hover svg polygon{
    	fill:#1FDB1F;
    }*/ }

div[id="mobileNav"] {
  background-color: black;
  z-index: 999;
  position: fixed;
  top: 58px;
  left: 0;
  text-align: center;
  width: 100%;
  height: auto; }
  div[id="mobileNav"] a {
    text-decoration: none;
    line-height: 58px;
    height: 58px;
    display: block; }
    div[id="mobileNav"] a:hover {
      color: #1FDB1F; }

.activeNav svg path {
  fill: #FF6500; }
.activeNav span {
  color: #FF6500; }

/*
BELOWNAV
*/
#belowNav {
  max-width: 1338px;
  width: 98%;
  margin: 8% 1.5%;
  clear: both; }

/*
INPUTS
*/
label {
  background-color: #1B212F;
  color: #EBEBEB;
  padding: 12px; }

input {
  margin-left: -5px;
  padding: 10px;
  border: solid #1B212F 2px; }

/*
CONTENT STYLES
*/
#leftPanel {
  background-color: #FF6500; }

#searchCourses {
  background-color: #208A87;
  padding: 10px;
  width: 46px;
  height: 42px; }
  #searchCourses:hover {
    cursor: pointer; }

#courseSearchRes {
  padding-top: 1px; }

/*
BUTTONS
*/
button {
  padding: 10px;
  border: none;
  color: #EBEBEB;
  background-color: #208A87; }

/*
LINK BUTTON
*/
.button {
  text-align: center;
  width: 120px;
  text-decoration: none;
  display: block;
  padding: 8px;
  border: none;
  margin: 2px 10px 0 0; }

/*
aquarius BUTTON
*/
.aquarius {
  background-color: #208A87;
  color: #EBEBEB; }

/*
ORANGE BUTTON
*/
.fsorange {
  background-color: #FF6500;
  color: #EBEBEB; }

/*
USERS LIST
*/
.listCont {
  clear: both;
  overflow: hidden; }

.userLi {
  clear: both;
  display: block;
  width: 98%;
  padding: 10px;
  color: #1B212F;
  overflow: hidden;
  border-top: solid #b8c4c4 2px; }
  .userLi:hover {
    background-color: #E0E0E0; }
  .userLi:nth-of-type(1) {
    border-top: none; }

.text-wrap {
  line-height: 2.5em;
  color: #1B212F; }

/*
FOOTER
*/
footer {
  background-color: #484f59;
  text-align: center; }
  footer a {
    text-decoration: none;
    color: #EBEBEB; }
    footer a:hover {
      color: #1B212F;
      text-decoration: underline; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.float-clear {
  clear: both; }

@media only screen and (min-width: 320px) and (max-width: 490px) {
  /*
  Stylesheet: 320px to 490px Stylesheet
  */
  /*********************
  NAVIGATION STYLES
  *********************/
  /* hiding nav links*/
  nav a:nth-of-type(n+2) {
    display: none; }

  nav span {
    display: block; }

  /* BelowNav */
  #belowNav {
    margin: 18% auto; } }
@media only screen and (min-width: 491px) and (max-width: 599px) {
  /*
  Stylesheet: 491px to 599px
  */
  /*
  NAVIGATION
  */
  /* hiding nav links*/
  nav a:nth-of-type(n+2) {
    display: none; }

  nav span {
    display: block; }

  /* BelowNav */
  #belowNav {
    margin: 14% auto; } }
@media only screen and (min-width: 600px) and (max-width: 766px) {
  /*
  Stylesheet: 600px to 766px Stylesheet
  */
  /*
  NAVIGATION STYLES
  */
  nav a:nth-of-type(n+2) {
    display: none; }

  nav span {
    display: block; }

  /* BelowNav */
  #belowNav {
    margin: 10% auto; } }
@media only screen and (min-width: 767px) and (max-width: 1024px) {
  /*
  Stylesheet: 768px to 1024px Stylesheet
  */
  /*
  NAGIVATION
  */
  nav span {
    display: none; }
  nav a {
    width: 18.2%; } }
@media only screen and (min-width: 1025px) {
  /*
  Stylesheet: min 1025px
  */
  nav span {
    display: none; } }

/*# sourceMappingURL=main.css.map */
