/*
Stylesheet: Base Mobile Stylesheet
*/
/*
GENERAL STYLES
*/
body {
	font-family:$base-font-family;
	font-size: 100%;
	line-height: 1.5;
  background-color: #EBEBEB;
}

#wrapper{
max-width: 1038px;
margin: 0 auto;
clear: both;
}
h1{
	color: #666;
}
h1,h2,h3,h4,h5{

	font-weight: initial;
}
/*
NAVIGATION STYLES
**/
nav{
	line-height: 58px;
	height: 58px;
	clear: both;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left:0;
  background-color: $coolBlue;
	a[href='/users']{
		width: 9%;
	}
  a{
		svg{
			margin: 13px 6px 0 19px;
			float:left;
			height:30px;

		}
		span{
			display: block;
		}
		margin-left: 3%;
    float:right;
    width: 11%;
    margin: 0;
		vertical-align:middle;
    display: inline-block;
    text-decoration: none;
    color:$white;
    &:link, &:visited {
      color:$white;
    }
    &:hover{
			svg{
				fill:$orange;
			}
			border-bottom:solid $orange 1px;
      cursor: pointer;
      color: $orange;
    }
  }
  a:first-child{
    float:left;
    width: 258px;
    text-align:center;
    margin: 0;
		/*&:hover svg path,&:hover svg polygon{
			fill:#1FDB1F;
		}*/
  }
}
 div[id="mobileNav"]{
  background-color: black;
  z-index: 999;
  position: fixed;
  top: 58px;
  left:0;
  text-align: center;
  width: 100%;
  height: auto;
  a {
    text-decoration: none;
    line-height: 58px;
    height: 58px;
    display: block;
    &:hover{
      color: #1FDB1F;
    }
  }
}
.activeNav{
	svg path{
		fill:$orange;
	}
	span{
		color:$orange;
	}

}
/*
BELOWNAV
*/
#belowNav{
  max-width:1338px ;
  width:98%;
  margin: 8% 1.5%;
	clear: both;
}
/*
INPUTS
*/
label{
	background-color: $black;
	color:$white;
	padding: 12px;
}
input{
	margin-left: -5px;
	padding:10px;
	border: solid $black 2px;
}
/*
CONTENT STYLES
*/
#leftPanel{
  background-color: $orange;
}
.searchButton{
	background-color: $aquarius;
	padding: 10px;
	width: 46px;
	height: 42px;
	&:hover{
		cursor: pointer;
	}
}
#courseSearchRes{
	padding-top: 1px;
}
/*
OFFICE HOURS
*/
.days{
	overflow: hidden;

}
.day{
	background-color:$list-line;
	text-align: center;
	padding: 10px;
	margin:5px;
	width: 48%;
	float: left;
	h3{
		text-align: center ;
	}
}
.shifts{
	overflow: hidden;
	clear: both;
}
.shiftType{
	width: 48%;
	margin:0 0 0 5px;
	float: left;
	h4{
		text-align:center;
	}
	.shift{
		margin: 5px 0 0 0;
		background-color: $white;
		clear: both;
		display: block;
		width: 98%;
		padding: 10px;
		color: $black;
		overflow: hidden;
	}
}

/*
BUTTONS
*/
button{
	padding: 10px;
	border: none;
	color:$white;
	background-color:$aquarius;
}
/*
ANCHOR BUTTON
*/
.button{
	text-align: center;
	width: 120px;
	text-decoration: none;
	display: inline-block;
	padding: 8px;
	border: none;
	margin: 2px 10px 0 0;
}
/*
aquarius BUTTON
*/
.aquarius{
	background-color:$aquarius;
	color:$white;
}
/*
ORANGE BUTTON
*/
.fsorange{
	background-color:$orange;
	color:$white;
}
/*
USERS LIST
*/
.listCont{
	clear: both;
	overflow: hidden;
}
.userLi{
	clear: both;
	display: block;
	width: 98%;
	padding: 10px;
	color: $black;
	overflow: hidden;
	border-top: solid #b8c4c4 2px;
	&:hover{
		background-color: $list-line;
	}
	&:nth-of-type(1){
		border-top: none;
	}
}
/*
FOOTER
*/
footer{
	text-align: center;
	color: $black;
	padding: 10px;
	a{
		text-decoration: none;
		color:$black;
		&:hover{
			color:$orange;
			text-decoration: underline;
		}
	}
}
/*
MIXINS
*/
.text-wrap{
	line-height: 2.5em;
	color: $black;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}
.float-clear{
	clear: both;
}
.newLabel{
	color:$orange;
}
