/*
Stylesheet: 600px to 766px Stylesheet
*/

/*********************
NAVIGATION STYLES
*********************/
/* hiding nav links*/
nav{
	a:nth-of-type(n+2){
	display:none;
	}
	div{
		display: block;
	}
	a:first-child{
		width: 24%;
	}
}
/* BelowNav */
#belowNav{
	margin:10% auto;
}
