/*
Stylesheet: 491px to 599px
*/
/*********************
NAVIGATION STYLES
*********************/
/* hiding nav links*/
nav{
	a:nth-of-type(n+2){
	display:none;
	}
	div{
		display: block;
	}
	a:first-child{
		width: 30%;
	}
}
/* BelowNav */
#belowNav{
	margin:14% auto;
}
